.s3-s4-box {
  background-color: #ceeae5;
  border: 2px solid #ceeae5;
  box-shadow: 0 4px 8px #ceeae5;
  border: 1px solid #ceeae5;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s,
    box-shadow 0.3s;
}

.s3-s4-box:hover {
  transform: scale(1.05);
  background-color: white;
  border: 2px solid #7ccfd1;
  box-shadow: 0 8px 12px #7ccfd1;
}

.s3-s4-box:hover .video,
.s3-s4-box:hover .titlevideo {
  color: #7ccfd1;
}

.s1-s2-box {
  background-color: #64c5d7;
  border: 2px solid #64c5d7;
  box-shadow: 0 4px 8px #64c5d7;
  border: 1px solid #64c5d7;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s,
    box-shadow 0.3s;
}

.s1-s2-box:hover {
  transform: scale(1.05);
  background-color: white;
  border: 2px solid #00bcd4;
  box-shadow: 0 8px 12px #00bcd4;
}

.s1-s2-box:hover .pass,
.s1-s2-box:hover .titlepass {
  color: #00bcd4;
}

.o3-o5-box {
  background-color: #7ccfd1;
  border: 2px solid #7ccfd1;
  box-shadow: 0 4px 8px #7ccfd1;
  border: 1px solid #7ccfd1;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s,
    box-shadow 0.3s;
}

.o3-o5-box:hover {
  transform: scale(1.05);
  background-color: white;
  border: 2px solid #0097a7;
  box-shadow: 0 8px 12px #0097a7;
}

.o3-o5-box:hover .Adoptiondesign,
.o3-o5-box:hover .titleAdoptiondesign {
  color: #0097a7;
}

.est-value-box {
  background-color: #17bcbc;
  border: 2px solid #17bcbc;
  box-shadow: 0 4px 8px #17bcbc;
  border: 1px solid #17bcbc;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s,
    box-shadow 0.3s;
}

.est-value-box:hover {
  transform: scale(1.05);
  background-color: white;
  border: 2px solid #17bcbc;
  box-shadow: 0 8px 12px #17bcbc;
}

.est-value-box:hover .manday,
.est-value-box:hover .titlemanday {
  color: #17bcbc;
}

.btn-circle {
  border-radius: 50%;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px;
}

.btn-yellow {
  background-color: #ffcc33;
}

.btn-red {
  background-color: #cc0033;
}

.btn-blue {
  background-color: #6699cc;
}

.btn-document {
  background-color: #6699ff;
}

.custom-table th,
.custom-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
